<!Doctype html>
<html>
<head>
	<title>会议基本信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
	<link rel="stylesheet" type="text/css" href="css/MeetingDetails.css">
	<link rel="stylesheet" type="text/css" href="global.css">
</head>
<body>
	<div class="pageHead">
		<font face="Microsoft YaHei" class="textOne" size="4">会议基本信息</font>
	</div>
	
	<div class="image">
		<img v-bind:src="image"/>
	</div>
	</br>
	<div id="name">
		{{name}}
	</div>
	<div id="time">
		{{time1}} 至 {{time2}}
	</div>
	<div id="place">
		{{place}}
	</div>
	</br>
	<div class="extraInfo" id="web">
		网址：{{web}}
	</div>
	<div class="extraInfo" id="tel">
		电话：{{tel}}
	</div>
	<div class="extraInfo" id="email">
		邮箱：{{email}}
	</div>
	<div class="content">
		{{content}}
	</div>
	<div class="operate">
		<a href="#"><input type="button" v-if="status == 2" value="进入会议" onclick="inputCode()"/></a>
		<a href="#"><input type="button" v-if="status == 1" value="准备中，暂不开放"/></a>
		<a href="#" v-if="private_type == 2"><input type="button" v-if="status == 3 value="报名"/></a>
		<a href="#" v-if="private_type == 1"><input type="button" v-if="status == 3 value="进入会议" onclick="inputCode()"/></a>
		<a href="#" v-if="private_type == 0"><input type="button" v-if="status == 3 value="进入会议" /></a>
		<a href="#"><input type="button" v-if="status == 4" value="会议已结束"/></a>
	</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script LANGUAGE="javascript">
	function inputCode(){
		window.open("code.html")
	}
</script>
<script>

 	var imag = new Vue({
 		el:'.image',
 		data:{
 			image:'',
 		}
 	})

	var name = new Vue({
		el:'#name',
		data:{
			name:'Hello',
		}
	})

	var time = new Vue({
		el:'#time',
		data:{
			time1:'2014-2-10',
			time2:'2014-2-12',
		}
	})

	var place = new Vue({
		el:'#place',
		data:{
			place:'中国',
		}
	})

	var web = new Vue({
		el:'#web',
		data:{
			web:11,
		}
	})


	var tel = new Vue({
		el:'#tel',
		data:{
			tel:11,
		}
	})

	var email = new Vue({
		el:'#email',
		data:{
			email:11,
		}
	})

	var content = new Vue({
		el:'.content',
		data:{
			content:"???",
		}
	})

	var status = new Vue({
		el:'.operate',
		data:{
			status:2,
			private_type:3,
		}
	})
</script>
</html>