
body{
	min-height: 100%;
	background-color:#eee;
    font-size:14px;
}
#headtitle {
	font-size: 130%;
	font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height:50px;
    color:#ffffff;
    background-color: #0080FF;

}


table{
    width:80%;
}

.list1{
    width:10%;
    overflow: hidden;
}

.list2{
    width:50%;
    overflow: hidden;
    font-family:arial;
}
.list3{
    width:20%;
    overflow: hidden;
    font-style:italic;
    color:#666;    
}
.list4{
    width:25%;
    overflow: hidden;
    font-style:italic;
    color:#666;    
}

.conferenceImg{
    //vertical-align: middle;
    display: inline-block;
    width:32px;
    height: 18px;
    padding-right: 10px;
    padding-left: 4px;
}
.list2:{
    cursor: default;
}
.list2:hover{
    color : #0080FF; 
    cursor: pointer;
}
.list2:active{
    color : #0080FF; 
    cursor: pointer; 
}

