<!Doctype html>
<html>
<head>
	<title>我的提醒</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--这里是外部css-->
    <link rel="stylesheet" type="text/css" href="remindConferences.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

	

	


	
</head>
<body>
	<div id = "headtitle">提醒列表</div>
	<div class="table-responsive">
                <table class="table table-striped" id="conflist">
                    <tbody>
                        <tr v-for="projectForMoney in projects" class="tdclass">
                            <td class="list1"></td>
                            <td class="list2"><img src = "/img/rabit1.png" class = " conferenceImg img-responsive" alt="Responsive image"> 会议测试1</td>
                            <td class = "list3"></td>  
                            <td class = "list4">共220个提醒</td>                            
                        </tr>

                        <tr v-for="projectForMoney in projects" class="tdclass">
                            <td class="list1"></td>
                            <td class="list2"><img src = "/img/rabit1.png" class = " conferenceImg img-responsive" alt="Responsive image">会议测试2</td>
                            <td class = "list3"></td> 
                            <td class = "list4">共200个提醒</td>
                            
                        </tr>
                        
                        <tr v-for="projectForMoney in projects" class="tdclass">
                            <td class="list1"></td>
                            <td class="list2"><img src = "/img/rabit1.png" class = " conferenceImg img-responsive" alt="Responsive image">会议测试3</td>
                            <td class = "list3"></td> 
                            <td class = "list4">共210个提醒</td>
                            
                        </tr>
    
                    </tbody>
                </table>
    </div>
    <script type="text/javascript">

    $(".list2").on("click",function(){
            window.open("http://m2.huiplus.com.cn/app/#/confinfo/1");
         })

    //     $(function(){
    //     //setFixHeight();
    //     console.log($("#notDisplay").css("height"));
    //     var tempt = String((parseInt($("#notDisplay").css("height")) * 0.5)) + "px";
    //     $(".conferenceImg").css("height", tempt);
    //     $("#notDisplay").css("display", "none");

    // })


        
    </script>
</html>